.post_create_inp > label {
  display: block;
}

.post_create_inp > textarea {
  width: 80%;
  min-height: 300px;
}

.create_category_page {
  color: #539bf5;
  font-size: 17px;
  margin: 0px 0px 20px 0px;
}
