.header_wrap {
  background-color: black;
  color: white;
  padding: 5px 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
}

.header_logo {
  font-size: 20px;
}

.right_header_menu_item {
  display: inline-block;
  line-height: 30px;
  list-style: none;
  color: white;
  margin: 0px 8px;
}

.right_header_menu_item_user_logout {
  background: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
